
:root {
    --clr-dark:#1f2937 ;
    --clr-light: #d1d5db;
    --clr-slate300: #d4d4d8;
    --clr-slate600: #dc2626;
    --clr-rose: #fca5a5;
    --clr-indigo: #6366f1;

}

body,html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  
}


body {
    font-family: 'General Sans', sans-serif;
    overflow-x: hidden;
    
  
   
}



footer,header {
    background-color: var(--clr-indigo);
    color: var(--clr-light);

}

.auto-height-iframe {
    border: none;
    width: 100%;
    margin: 0;
}

.container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 20px;
    padding: 20px;
 
}
.container img {
    width: 80%;
    height: 500px;
    
}
.container div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: black;
}

.container p {
    font-size: 2rem;
}

.container_two {
    display: flex;
    align-items: center;
    gap: 1rem;  
    width: 100%;
    padding: auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.container_two div img {
    width: 300px;
    height: 300px;
    

}

.divblog {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
   
    
}

.divblog img {
    width: 300px;
    height: 300px;

}